*{
    margin: 0;
}
header{
        background-image: url("img/yuumi.jpg");
        padding: 10vh;
        color: rgb(255, 255, 255);
        text-shadow: 1px 4px 2px black;
        box-shadow: 1px 10px 20px black;
                                h1{
                                    font-size: 5vh;
                                }
                                        h3{
                                            animation: h3 2s forwards;
                                                    @keyframes h3 {
                                                        0%{
                                                            transform: rotatex(180deg);
                                                        }
                                                        40%{
                                                            transform: translatey(30px);
                                                        }
                                                    }
                                        }





                                            @media (min-width:1200px){
                                                padding: 40vh;
                                                        h1{
                                                            font-size: 15vh;
                                                        }
                                                            h3{
                                                                padding-left: 30px;
                                                            }
                                            }
}

@mixin section{
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    margin: 10vh;
    background-color: #3866F4;
    border-radius:2vh;
    color: white;
    padding-bottom: 3vh;
                    &:hover{
                        transition: 1s;
                        box-shadow: 40px 30px 1px rgb(4, 18, 167);
                    }
}

    .sectionA{
        @include section();
        align-items: flex-start;
        justify-content: center;
        margin-right: 120vh;
    }
    .sectionB{
        @include section();
        align-items: flex-end;
        justify-content: center;
        margin-left: 100vh;
    }
    .sectionC{
        @include section();
        align-items: flex-start;
        justify-content: center;
        margin-right: 120vh;
    }
            p{
                margin: 3vh;
            }
                img{
                    padding-left: 5vh;
                    padding-right: 5vh;
                }
                video{
                    padding-left: 5vh;
                }
            body{
                background-color: #E5EAE4;
            }